doctype html
html
  head
    meta(charset="UTF-8")
    style.
        body {
            margin: 0px;
            font-family: "IBM Plex Sans", sans-serif;
            background-color: #f5f7fb;
        }
        .header{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            background-color: #ffffff;
            padding: 10px 24px;
        }
        .pokemon-name{
            font-size: 21px;
            border-bottom: 2px solid #{color};
            padding-bottom: 4px;
            color: #001d4a;
        }
        .general-infos {
            display: flex;
            flex-direction: column;
            border-left: 1px solid #ffcd00;
            color: #0e2f66;
            padding-left: 4px;
            font-size: 9px;
        }
        .info{
            margin-bottom: 2px;
        }
        .attack-card{
            margin: 10px 10px 0px 10px;
            padding-bottom: 10px;
            border-radius: 6px;
            background-color: #ffffff;
            color: #001d4a;
        }
        .attack-header{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            background-color: #dde8fb;
            padding: 4px;
            color: #332900;
        }
        .attack-content{
            margin: 12px 0px 6px 0px;
        }
        .attack-name{
            margin-left: 4px;
            font-size: 18px;
            font-weight: bold;
        }
        .attack-properties{
            display: flex;
            flex-direction: column;
            row-gap: 8px;
            font-size: 12px;
            margin: 4px 12px;
        }
        .attack-description{
            font-size: 10px;
            text-align: center;
        }
        .attack-type-card{

            text-align: center;
        }
        .water-card{
            border-radius: 5px;
            text-align: center;
            padding: 4px;
            background-color: #1753e3;
            color: #FFFFFF
        }
        .normal-card{
            border-radius: 5px;
            text-align: center;
            padding: 4px;
            background-color: #79794e;
            color: #FFFFFF
        }
        .steel-card{
            border-radius: 5px;
            text-align: center;
            padding: 4px;
            background-color: #7a7aa7;
            color: #FFFFFF
        }
        .attack-power{
            background: black;
        }
    title document title
  body
    .header
        .pokemon-name #{name}
        .general-infos 
            .info numéro : #{numero}
            .info type : #{type}
            .info évolution : #{evolution}
    each attack, i in attacks
        .attack-card
            .attack-header 
               .attack-name #{attack.name}
               .attack-properties 
                    .attack-type-card
                     case attack.type
                        when "eau"  
                            .water-card
                                .attack-type #{attack.type}
                        when "normal" 
                            .normal-card
                                .attack-type #{attack.type}
                        when "acier" 
                            .steel-card
                                .attack-type #{attack.type}
                    .attack-category #{attack.category}
                    div.attack-power #{attack.power}
            .attack-content 
                .attack-description #{attack.description}